@charset "utf-8";
/* import：外部ファイルを呼び込む */
/* normalize.css：ユーザーエージェントCSSのブラウザ毎の違いをリセットする */
@import url(normalize.css);

/* =======================================
                基本設定
======================================= */
* {
    /* よくわからないが、大きさの設定 */
    box-sizing: border-box;
}
body {
    /* YuGothic　は　大文字・小文字区分あり　／ ダブルコーテーション内　半角スペース意味あり */
    font-family: "Verdana","メイリオ",Meiryo,"游ゴシック体",YuGothic,"游ゴシック","Yu Gothic",sans-serif;
    background-image: url(../images/img-bg-water.jpg);
    background-position: center center; /* 中心寄り */
    background-size: cover; /* 全体を覆うように */
    background-repeat: no-repeat; /* 画像がリピートしない */
    background-color: #090909; /* background-color: black; */
    background-attachment: fixed; /* 画像が固定 */
}
nav ul{
    list-style: none;
    padding-left: 0; /* ０の場合単位不要 */
}
/* ============== 背景画像とヘッダーの調整用 ============== */
.header_mainvisual_container {
  display: grid;    /* 重ね用 */
  grid-template-areas: "stack";
  width: 100%;
  
}
.header_mainvisual_container > * {  /* 子同士を重ねる */
  grid-area: stack;
}

/* ============== ヘッダー ============== */
.page_header {
    z-index: 10;
    height: 150px;
    background-image: url(../images/img-bar.png);
    background-position: top center; /* 中心寄り */
    background-repeat:  repeat-x;  /* 画像が横方向にリピート */
}
.header_wrapper {
    width: 960px;
    margin: 0 auto;
    display: flex;  /* 横並び */
    justify-content: space-between;
    align-items: flex-start;  /* 子要素同士が下揃え  */
}

.header_logo {  /* 入れ物の大きさを設定し、画像を１００％ */
    width: 100px;
    height: 60px;
}
.header_logo h1{
    margin-top: 20px;
}
.header_logo img {
    width: 100%;
}
.header_nav {
    width: 70%;
    margin-top: 20px;
    margin-right: 40px;
}
.header_nav ul {
    display: flex;  /* リスト（子要素）を横並び */
    justify-content: space-between; /* 空白を中央寄せ・子要素は左端と右端  */
}
.header_nav ul li a {
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;  /* アンダーバー（した線）を消す  */
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    transition: 0.25s;
}
.header_nav ul li a:hover {
    color: #589ed6;
}
.header_nav ul li a:active {
    color: #193450;
}
/* ============== フッター ============== */
.page_footer {
    margin: 40px 0 0 0;
    background-color: rgba(0, 0, 0, 0.75);  /* 透明度をつける */
}
.footer_nav ul {
    margin: 0;
    display: flex;  /* リスト（子要素）を横並び */
    justify-content: center;
}
.footer_nav ul li {
    margin:40px;  /* 上下左右：４０ｐｘ */
}
.footer_nav ul li a {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;  /* アンダーバー（した線）を消す  */
    transition: 0.25s;  /* 0.25sをかけて色変化  */
}
.header_nav ul li a:hover {
    color: #589ed6;
}
.header_nav ul li a:active {
    color: #193450;
}
.footer_billing {
    width: 720px;
    margin: 0 auto;  /* 中央揃え */
}
.footer_billing img {
    width: 100%;
    height: auto;
    display: block;
}
.copyright {
    font-size: 14px;
    margin: 0 auto;
    height: 120px;
    display: flex; /* flexにしないと子要素が動かない */
    justify-content: center; /* 子要素の真ん中揃え 左右 */
    align-items: center;  /* 子要素の真ん中揃え 上下 */
    color: #ffffff;
}

/* =======================================
            HOME (index.html)
======================================= */
/* ============== メインビジュアル ============== */
.mainvisual_wrapper {
    display: grid;  /* 重ね用 */
    width: 100%;
    height: 100%;     /* header_mainvisual_containerの大きさに合わせるように */
    justify-items: stretch;
    align-items: stretch;
}
.mainvisual_wrapper > * { /* 子同士を重ねる */
    grid-area: 1 / 1;
}
.image_base {
    width: 100%;
    z-index: 0;
}
.image_base img {
    width: 100%;
    height: auto;
    display: block;
}
/* 
    未解決：
    初期位置を設定すると
    拡大縮小する時
    位置が崩れる 
*/
.image_fade {
    z-index: 1;
    opacity: 0;
    justify-self: end;
    align-self: start;
    --off-x: clamp(16px, 6vw, 200px);
    --off-y: clamp(16px, 6vh, 120px);
     margin: var(--off-y) var(--off-x) 0 0;
    animation: fadeIn 2s ease-in-out forwards,
               floatY_fade 4s ease-in-out 2s infinite;
    animation-delay: 0s;
}
.image_fade img {
    width: 480px;
    height: auto;
    display: block;
    transform-origin: top right;
}
.image_logo {
    z-index: 1;
    opacity: 0;
    justify-self: start;
    align-self: start;
    --off-x: clamp(200px, 4vw, 80px);
    --off-y: clamp(160px, 15vh, 260px);
    margin: var(--off-y) 0 0 var(--off-x);
    animation: fadeIn 2s ease-in-out forwards;
    animation-delay: 0.5s;
}
.image_logo img {
    width: 480px;
    height: auto;
    display: block;
    transform-origin: top left;
    transition: 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0); 
    }
}
@keyframes floatY_fade {
  0%,100%{ transform: translateY(0); }
  50%    { transform: translateY(-10px); }    /* 10px 上へ */
}
.image_logo img:hover{
    transform: scale(1.02);   /* 拡大 */
}
/* ============== メインエリア ============== */
.maincontents {
    width: 1280px;
    margin: 2em auto;  /* 中央揃え */
}
.main_wrapper {
    margin-top: 80px;
}
.content_img {
    width: 960px;
    margin: 2em auto;  /* 中央揃え */
}
.content_img img{
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto 10px;  /* 中央揃え */
}
.content_text { 
    margin: 80px 0;
    padding: 0.2em;
    width: 100%;
    text-align: justify; /* 文字揃え */
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    line-height: 2;
    text-align: center;  /* 中央揃え */
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    background-color: #0000002c;
    text-decoration: none;  /* アンダーバー（した線）を消す  */
    transition: 0.5s;
}
.content_text p {
    color: inherit;
    text-decoration: none;
    transition: 0.5s;
}
.content_text:hover{
    box-shadow: 0 0px 30px rgba(0,0,0,0.25);
}
.content_text p:hover {
    color: #f8e645;
}
.marquee-one{
    margin: 80px 0;
    --gap: 15px;     /* 隙間 */
    --h: 300px;      /* 画像高さ */
    --speed: 120s;    /* 速度 */

    overflow: hidden;
    width: 100%;
}
/* 
    ここら辺がわからない
*/
.marquee-track{
    display: flex;
    gap: var(--gap);
    width: max-content;
    animation: marquee var(--speed) linear infinite;
    will-change: transform;
    transform: translateZ(0);
}
.marquee-track img{
    height: var(--h);
    width: auto;
    flex: 0 0 auto;
    display: block;
    object-fit: cover;
}
@keyframes marquee{
    to { transform: translateX(-50%); }
}
.content_text_jump {
    margin: 0;
    text-align: justify; /* 文字揃え */
    color: #ffffff;
    font-size: 18px;
    font-weight: lighter;
    line-height: 2;
    text-align: center;  /* 中央揃え */
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    text-decoration: none;  /* アンダーバー（した線）を消す  */
}

/* =======================================
            second　page
======================================= */

/* ============== secondビジュアル ============== */
.mainvisual_second {
    width: 100%;
    text-align: center;
}
.mainvisual_second video{
    max-width: 960px;
    display: block;
    margin: 0 auto;       /* 中央揃え */
}
/* ============== secondメインエリア ============== */
.main_wrapper{
    margin: 10px 0;
}
.maincontents_second h2 {
    margin: 10px 0;
    padding: 0.2em;
    width: 100%;
    text-align: justify; /* 文字揃え */
    color: #ffffff;
    font-size: 30px;
    font-weight: bolder;
    line-height: 2;
    text-align: center;  /* 中央揃え */
}
.maincontents_second .content_text { 
    margin: 0px 0;
    padding: 0.2em;
    width: 100%;
    text-align: justify; /* 文字揃え */
    color: #ffffff;
    font-size: 20px;
    font-weight: lighter;
    line-height: 2;
    text-align: center;  /* 中央揃え */
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    background-color: #0000002c;
    text-decoration: none;  /* アンダーバー（した線）を消す  */
    transition: 0.5s;
}
.maincontents_second .content_text:hover{
    box-shadow: 0 0px 30px rgba(0,0,0,0.25);
}
.maincontents_second .content_text p:hover {
    color: #ffffff;
}
.maincontents_second img {
    width: 960px;
    margin: 0 auto;  /* 中央揃え */
}
.content_character .marquee-one{
    margin: 30px 0;
    --gap: 15px;     /* 隙間 */
    --h: 300px;      /* 画像高さ */
    --speed: 50s;    /* 速度 */
    overflow: hidden;
    width: 100%;
}
/* 
    ここら辺がわからない
*/
.content_character .marquee-track{
    display: flex;
    gap: var(--gap);
    width: max-content;
    animation: marquee var(--speed) linear infinite;
    will-change: transform;
    transform: translateZ(0);
}
.content_character .marquee-track img{
    height: var(--h);
    width: auto;
    flex: 0 0 auto;
    display: block;
    object-fit: cover;
}
.content_wrapper {
    text-align: center;
    font-size: 0;
    max-width: 960px;
    margin: 0 auto;
    background-color: #0000002c;
}
.content_text_staff,
.content_img_staff {
    display: inline-block;
    width: 45%;
    font-size: 16px;
    margin: 0;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
}
.content_img_staff img {
    width: 400px;
    height: auto;
    display: inline-block; 
    margin: 0 30px;
}